<%= form_for @survey do |f| %>
  <%= hidden_field_tag 'survey[user_id]', session[:user_id] %>
  <table class="form">
    <tr><td class="r">Name of Site</td><td class="l"><%= f.text_field :site , size: 25 %></td></tr>
    <tr><td class="r">Date of Survey</td><td class="l"><%= f.date_field :date %></td></tr>
    <tr><td class="r">Name of Surveyor</td><td class="l"><%= f.text_field :surveyors, size: 25 %></td></tr>
    <tr><td class="r">Width of Grid <%= f.text_field(:gridx, size: 3) %></td><td class="l">Number of Rows <%= f.text_field(:gridy, size: 3) %></td></tr>
  </table>
<hr />
<%= render 'navwrapper'%>   
<% end %>  