<%= image_tag('home.png', :class => 'icon' )%><h1>Welcome <%= @user.email.split('@',2)[0] %></h1>
<% if @surveys.nil? %>
  <p class="section">You don't have any Surveys.</p>
<% else %>
<p class="section">Your Resistivity Surveys</p>
<ul>
  <% @surveys.each do |s| %>
  <li>
    <h2><%= link_to s.site, survey_path(s.id) %></h2>
  </li>
  <% end %>
</ul>
<% end %> 
<hr>
<%= link_to image_tag('grid.png', :class => 'icon'), new_survey_path %><span class="iconlabel"><%= link_to ('Add a New Survey'), new_survey_path %></span>