<%= image_tag('grid.png', :class => 'icon') %><span class="iconlabel"><h2><%= @survey.site %></h2></span><h2 style="float:right;"><%= @survey.date %></h2>
<% if @survey.grid.empty? %>
  <table>
    <tr>
      <td>A visualisation of your data will appear here</td>
    </tr>
  </table>
<% else %>
  <table style="width: 100%; border: solid 0px black;border-collapse:collapse;">
  <% @survey.grid.each do |r| %>
    <tr>
      <% r.row.split(",").each do |f| %>
        <td style="background: rgb(<%= f.to_i*@normalise %>,0,0)"><%= f %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>
<%= render "navwrapper" %>