<!DOCTYPE html>
<html>
<head>
  <title>Resitivity.Guru</title>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle|Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", "jquery-ui-1.10.4.custom.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-1.11.1.min.js", "jquery-ui-1.10.4.custom.min.js", "application.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body> 
  <div>
    <div id="fourPanelHeader">
      <div class="panel"><%= image_tag('res2.png') %></div>
      <div class="panel"><%= image_tag('res3.png') %></div>
      <div class="panel"><%= image_tag('res5.png') %></div>
      <div id="panel-text">
    </div>
    
    <p>Electrical resistance surveys, also called earth resistance or resistivity surveys, are one of a number of methods used in archaeological geophysics. In this type of survey electrical resistance meters are used to detect and map subsurface archaeological features and patterning. This site renders the data readings of these surveys into coloured maps.</p>
  </div>
    
    <div id="user_nav">
      <% if current_user %>
        <%= current_user.email %> | <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Create Account", sign_up_path %>
      <% end %> 
    </div>
    <hr />  
    <h2 style="text-align:center;"><%= flash[:notice] %></h2>
    <%= yield %>
  </div>
</body>
</html>